// Fade In / Reveal Effect
.reveal.ng-enter, .reveal.ng-move {
  @include transition(.5s linear all);
  opacity: 0;
}

.reveal.ng-enter.ng-enter-active,
.reveal.ng-move.ng-move-active {
  opacity: 1;
}

.reveal.ng-leave {
  @include transition(.5s linear all);
  opacity: 1;
}

.reveal.ng-leave.ng-leave-active {
  opacity: 0;
}

// Slide In Effect
.slidein.ng-enter, .reveal.ng-move {
  @include transition(.3s ease-in-out all);
  @include transform(translateX(100%));
}

.slidein.ng-enter.ng-enter-active,
.slidein.ng-move.ng-move-active {
  @include transform(translateX(0%));
}

.slidein.ng-leave {
  @include transition(.3s ease-in-out all);
  @include transform(translateX(0%));
}

.slidein.ng-leave.ng-leave-active {
  @include transform(translateX(100%));
}
