@include keyframes(rotateplane) {
  0% {
    @include transform(perspective(120px) rotateX(0deg) rotateY(0deg));
  } 25% {
    @include transform(perspective(120px) rotateX(180deg) rotateY(0deg));
  } 50% {
    @include transform(perspective(120px) rotateX(180deg) rotateY(180deg));
  } 75% {
    @include transform(perspective(120px) rotateX(0deg) rotateY(180deg));
  } 100% {
    @include transform(perspective(120px) rotateX(0deg) rotateY(360deg));
  }
}

.loading {
  width: em(100);
  height: em(100);
  background-color: rgba(192, 57, 43, 0.8);

  position: fixed;
  top: em(200);
  left: 50%;
  margin-left: em(-50);
  z-index: 500;
  pointer-events: none;

  @include animation(rotateplane 2.4s infinite ease-in-out);
}
