@import "font-awesome/font-awesome";

@import "normalize/normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";

$mobile: new-breakpoint(max-width 600px 4);

* {
  @include user-select(none);
  cursor: inherit;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../font/Montserrat-Regular.woff) format('woff');
}

html {
  cursor: default;
}

body {
  font-family: $helvetica;
  color: #231F20;
  background: #eee;
  height: 100%;
  width: 100%;
}

// Local Imports
@import "animate";
@import "header";
@import "footer";
@import "loading";
@import "tab";
@import "cards";
@import "popup";
@import "details";
