<div ng-controller="FooterCtrl">
    <a ng-click="backward()">
      <i class="fa fa-backward fa-lg"></i>
    </a>
    <a ng-click="play()" ng-hide="playing">
      <i class="fa fa-play fa-lg"></i>
    </a>
    <a ng-click="pause()" ng-show="playing">
      <i class="fa fa-pause fa-lg"></i>
    </a>
    <a ng-click="stop()">
      <i class="fa fa-stop fa-lg"></i>
    </a>
    <a ng-click="forward()">
      <i class="fa fa-forward fa-lg"></i>
    </a>
    <span id="media-title">{{ label }}</span>
</div>
