<div class="details" ng-controller="MovieCtrl">
  <div class="media">
    <img class="poster" ng-src="http://image.tmdb.org/t/p/w500/{{ movie.backdrop }}">
    <div class="text">
      <h1>{{ movie.title }}</h1>
      <div class="stars"></div>
      <p>
        {{ movie.description }}
      </p>
      <div class="buttons">
        <a ng-repeat="torrent in torrents" ng-click="playTorrent({{ $index }})">
          Play in {{ torrent.quality }} 
        </a>
      </div>
    </div>
  </div>
</div>
